@mixin widget-style {
  color: $white;
  padding: 0 6px;
}

.widget-disks {
  @include widget-style;
}

.widget-audio {
  @include widget-style;
}

.widget-player {
  @include widget-style;
}

.widget-network {
  @include widget-style;
}

.widget-battery {
  @include widget-style;
}

.widget-time {
  @include widget-style;
}

.widget-ram {
  @include widget-style;
}

.widget-tray {
  @include widget-style;
  menu {
    background-color: $gray-2;
    menuitem {
      color: $white;
      padding: 3px 5px;

      &:disabled label {
        color: $black
      }

      &:hover {
        background-color: $gray-3
      }
    }
  }
}
