.bar {
	background-color: rgb(24,24,24,0.8);
	.stat{
		// background: none;
		// border: none;
		// margin: 2px 2px;
		// padding: 10px 10px;
		// border-radius: 5px;
		color: $white;
		// text-shadow: none;
	}
	.stat:hover{
		color: $stat-fg-hover;
	// 	text-shadow: none;
	}
	// .stat:active{
	// 	color: $stat-fg-active;
	// }

	.workspace{
		margin: 2px 2px;
		// border-radius: 10px;
    // border: none;
	}
	.workspace :first-child{
		// border-radius: 10px 0 0 10px;
	}
	.workspace :last-child{
		// border-radius: 0 10px 10px 0;
	}

	.workspace button{
		background: unset;
		// border: unset;
		// color: #fff;
    font-size: 1.2em;
		color: $workspace-bg;
		padding: 5px 10px;
		// border-radius: unset;
    // border: 
	}
	.workspace button.active{
		// color: $workspace-bg-active;
    color: #fff;
	}
	.workspace button.focused{
		color: $workspace-bg-focused;
    border-bottom: 5px solid $blue;
	}
	.workspace button:hover{
		background-color: $workspace-bg-hover;
	}
	.workspace button:active{
		background-color: $workspace-bg-click;
	}
}

.music-pop{
	.info{
		background-color: $gray-1;
		border-radius: 20px;
		.title{
			font-size: 1.2em;
		}
		.artist{
			font-size: 1em;
		}
		.music-control{
			border-radius: 20px;
			.left{
				border-radius: 0 0 0 20px;
			}
			.right{
				border-radius: 0 0 20px 0;
			}
			margin-top: 20px;
			// .center{
			// 	min-width: 70px;
			// }
		}
		button{
			font-size: 3em;
			background-color: $gray-1;
			color: $red;
		}
		button:hover{
			background-color: $gray-4;
		}
		button:active{
			background-color: $gray-5;
		}
	}
}

.cover-art{
	background-repeat: no-repeat;
	background-size: cover;
    box-shadow: 2px 2px 2px 2px #06060b;
	margin: 20px;
	border-radius: 20px;
}

// .audio-pop scale trough highlight {
// 	all: unset;
//     background-image: linear-gradient(to bottom, $yellow 30%, $yellow 50%, $orange 100% *50);
// 	border-radius: 24px;
// }
// .audio-pop scale trough {
// 	all: unset;
// 	background-color: $gray-2;
//     box-shadow: 0 6px 5px 2px #06060b;
// 	border-radius: 24px;
// 	min-width: 13px;
// 	min-height: 190px;
// 	margin : -10px 10px 20px 0px;
// }

//.metric {
//	min-width: 100px;
//	color: red;
//	background-color: #ff0000;
//}
//.metric trough {
//	color: red;
//	background-color: #00ff00;
//}
//.metric content {
//	color: red;
//	background-color: #00ff00;
//}
//.metric highlight {
//	color: red;
//	background-color: #00ffff;
//}
//.metric slider{
//	background: none;
//	outline: none;
//	// border: none;
//	border-style: none;
//	border-top: 10px solid;
//	// color:rgb(0,0,0,0);
//	box-shadow: none;
//	border-radius: 0px;
//}
//.metric hightlight{
//	border: none;
//}
//
