.kong-bar {
	background-color: unset;
	.stat{
		background: none;
		border: none;
		margin: 2px 2px;
		padding: 10px 10px;
		border-radius: 5px;
		color: $stat-fg;
		text-shadow: none;
	}
	.stat:hover{
		color: $stat-fg-hover;
		text-shadow: none;
	}
	.stat:active{
		color: $stat-fg-active;
	}

	.ram{
		background-color: $ram-fg;
	}

	.music{
		background-color: $music-fg;
	}

	.audio{
		background-color: $audio-fg;
	}
	.network{
		background-color: $network-fg;
	}
	.time{
		background-color: $time-fg;
	}
	.battery{
		padding-left: 10px;
		padding-right: 5px;
		background-color: $battery-fg;
	}
	.disk{
		background-color: $disk-fg;
	}
	.workspace{
		margin: 2px 2px;
		border-radius: 10px;
	}
	.workspace :first-child{
		border-radius: 10px 0 0 10px;
	}
	.workspace :last-child{
		border-radius: 0 10px 10px 0;
	}

	.workspace button{
		background: unset;
		border: unset;
		color: #fff;
		background-color: $workspace-bg;
		padding: 10px 15px;
		border-radius: unset;
	}
	.workspace button.active{
		background-color: $workspace-bg-active;
	}
	.workspace button.focused{
		background-color: $workspace-bg-focused;
	}
	.workspace button:hover{
		background-color: $workspace-bg-hover;
	}
	.workspace button:active{
		background-color: $workspace-bg-click;
	}
}

.music-pop{
	.info{
		background-color: $gray-1;
		border-radius: 20px;
		.title{
			font-size: 1.2em;
		}
		.artist{
			font-size: 1em;
		}
		.music-control{
			border-radius: 20px;
			.left{
				border-radius: 0 0 0 20px;
			}
			.right{
				border-radius: 0 0 20px 0;
			}
			margin-top: 20px;
			// .center{
			// 	min-width: 70px;
			// }
		}
		button{
			font-size: 3em;
			background-color: $gray-1;
			color: $red;
		}
		button:hover{
			background-color: $gray-4;
		}
		button:active{
			background-color: $gray-5;
		}
	}
}

.cover-art{
	background-repeat: no-repeat;
	background-size: cover;
    box-shadow: 2px 2px 2px 2px #06060b;
	margin: 20px;
	border-radius: 20px;
}

.audio-pop {
	background-color: $gray-2; // outside
	// background-color: rgb(50,50,50,0.8);
    // background-image: linear-gradient(to bottom, rgb(50,50,50,1) 0%, rgb(50,50,50,1) 50%, rgb(50,50,50,0.5) 100%);
	padding: 10px 20px;
	border-radius: 10px;
	.volume-bar{
		margin-bottom: 1em;
		margin-top: 1em;
		.icon {
			font-size: 1.5em;
			padding: 4px 10px;
			margin-right: 8px;
			border-radius: 10px;
			background-color: $gray-3;
		}
		.icon:hover{
			background-color: $gray-4;
		}
	}
	trough {
		background-color: $gray-1;
		border-radius: 100px;
		slider{
			background: $yellow;
			border-radius: 100%;
			box-shadow: 3px 2px 5px 5px rgb(0,0,0,0.05);
			margin: -10px;
			min-width: 20px;
			min-height: 20px;
		}

		highlight {
			border: 4px solid $yellow;
			border-radius: 100px;
		}
	}
	.icon {
		font-size: 1.5em;
	}
	.percent {
		margin-left: 20px;
	}
}

.network-pop{
	background-color: $gray-2; // outside
	padding: 10px;
	border-radius: 10px;
	padding-top: 10px;
	.icon {
		font-size: 2em;
		margin-right: 10px;
		margin-left: 10px;
	}
	.rescan{
		padding: 10px;
		margin: 5px;
		background-color: $gray-4;
		border-radius: 10px;
	}
	.rescan:hover{
		background-color: $gray-5;
	}
	.rescan:active{
		background-color: $white;
	}
	
	.network {
		background-color: $gray-4; // outside
		margin: 5px;
		color: $black;
		background-color: $white;
		border-radius: 10px;
	}
	.network:hover {
		background-color: $gray-4;
	}
	.network:active {
		background-color: $white;
	}
	.connected{
		color: $white;
		background-color: $blue;
	}
}

.disk-pop{
	background-color: $gray-2;
	padding: 5px 5px;
	border-radius: 10px;
	font-size: 1.1em;
	.disk{
		background: none;
		border: none;
		margin: 2px 4px;
		padding: 10px 10px;
		border-radius: 5px;
		color: $white;
		text-shadow: none;
		background-color: $gray-3;
	}
	.disk:hover{
		background-color: $gray-4;
		text-shadow: none;
	}
	.disk:active{
		color: $stat-fg-active;
	}
}

// .audio-pop scale trough highlight {
// 	all: unset;
//     background-image: linear-gradient(to bottom, $yellow 30%, $yellow 50%, $orange 100% *50);
// 	border-radius: 24px;
// }
// .audio-pop scale trough {
// 	all: unset;
// 	background-color: $gray-2;
//     box-shadow: 0 6px 5px 2px #06060b;
// 	border-radius: 24px;
// 	min-width: 13px;
// 	min-height: 190px;
// 	margin : -10px 10px 20px 0px;
// }

//.metric {
//	min-width: 100px;
//	color: red;
//	background-color: #ff0000;
//}
//.metric trough {
//	color: red;
//	background-color: #00ff00;
//}
//.metric content {
//	color: red;
//	background-color: #00ff00;
//}
//.metric highlight {
//	color: red;
//	background-color: #00ffff;
//}
//.metric slider{
//	background: none;
//	outline: none;
//	// border: none;
//	border-style: none;
//	border-top: 10px solid;
//	// color:rgb(0,0,0,0);
//	box-shadow: none;
//	border-radius: 0px;
//}
//.metric hightlight{
//	border: none;
//}
//
