$black: #181818;
$gray-1: #282828;
$gray-2: #383838;
$gray-3: #585858;
$gray-4: #b8b8b8;
$gray-5: #d8d8d8;
$gray-6: #e8e8e8;
$white: #f8f8f8;
$red: #ee3632;
$orange: #ee9e56;
$yellow: #f7de4f;
$green: #6ab544;
$cyan: #70CCAD;
$blue: #5066C6;
$purple: #bf72ad;
$brown: #a16946;

$stat-fg: $black;
$stat-fg-hover: $gray-3;
$stat-fg-active: $gray-1;

$workspace-bg: $gray-2;
$workspace-bg-active: $gray-3;
$workspace-bg-focused: $blue;
$workspace-bg-hover: $gray-4;
$workspace-bg-click: $gray-5;

$red-dark: #cc2521;
